@import "../../global.scss";

.menu {
  background-color: $mainColor;
  align-items: center;
  width: 300px;
  height: 100vh;
  z-index: 2;
  position: fixed;
  top: 0;
  right: -300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // text-align: center;
  align-items: center;
  transition: all 1.2s ease;

  ul {
    list-style: none;
    width: 60%;
    color: white;

    li {
      margin-bottom: 20px;
      font-weight: 300;

      a {
        color: inherit;
        font-size: 30px;
        text-decoration: none;
      }

      &:hover {
        font-weight: 500;
      }
    }
  }

  &.active {
    right: 0;
  }
}
