@import "../../global.scss";

.contact {
  background-color: white;
  display: flex;
  // position: relative;

  @include mobile {
    flex-direction: column;
  }

  .left {
    flex: 0.6;
    overflow: hidden;
    img {
      height: 100%;

      @include mobile {
        height: 80%;
        width: 100%;
        flex: 0.4;
      }
    }
  }
  .right {
    flex: 0.4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mobile {
      flex: 0.6;
    }

    h2 {
      font-size: 30px;
    }

    form {
      height: 60%;
      width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      @include mobile {
        height: 90%;
      }

      input {
        height: 30px;
        width: 60%;
        outline: none;
        font-size: 15px;
        padding: 4px;

        @include mobile {
          margin: 10px 0;
        }
      }

      textarea {
        height: 11rem;
        width: 60%;
        outline: none;
        resize: none;
        font-size: 15px;
        padding: 4px;
      }

      button {
        font-size: 18px;
        background-color: crimson;
        color: white;
        width: 100px;
        height: 35px;
        padding: 5px 8px;
        border: none;
        border-radius: 10px;
        cursor: pointer;

        @include mobile {
          margin: 5px 0;
          font-size: 12px;
          height: 25px;
        }

        &:focus {
          outline: none;
        }
      }

      span {
        font-size: 15px;
        color: green;

        @include mobile {
          font-size: 12px;
        }
      }
    }
  }
}
